body {
  background-color: #FFE5D4;
}

.navbar {
  background: #800020;
  height: max-content;
  top: 0;
  width: 100%;
  position: fixed;
}

.brand {
  font-size: 6vh !important;
}

.nav-link {
  border-radius: 5vh;
  font-size: 3vh !important;
}

.nav-link:hover {
  background-color: #694F5D;
  border-radius: 5vh;
  color: #BFD3C1;
}

.active {
  color: #FFE5D4 !important;
}


label {
  padding: 2vh;

}

input,
textarea {
  border-color: #68A691;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  text-align: center;
}

.send {
  background-color: #7c1a4e;
  color: #68A691
}

.sent {
  color: #68A691;
  text-align: center;
}

.sent-hidden {
  display: none;
}

.not-sent {
  color: red;
  text-align: center;
}

.not-sent-hidden {
  display: none;
}

/* Blog */
.cards{
  text-align: center;
}

.wine-card {
  display: inline-block !important;
  margin: 10px !important;
  background-color: #FF6961 !important;

  /* height: 400px !important; */


}

button,
.btn-primary {
  background-color: #7c1a4e !important;
  text-decoration: none !important;
  border-color: #7c1a4e !important;
  margin: 5px;
}



a {
  text-decoration: none !important;
  color: #BFD3C1 !important;
}


span,
a:hover {
  color: #68A691;
}


img {
  max-width: 900px !important;
  height: 200px !important;
} 

.h5 {
  margin-top: none !important;
  margin-bottom: none !important;
  font-weight: none !important;
  line-height: none !important;
  font-size: inherit !important;
}

.card-body {
  padding: 0 !important;
}

.new-wine-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.hide {
  display: none;
}

form {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.headers {
  text-align: center;
}

.wine-info {
  width: 25%;
  position: absolute;
  left: 10vh;
}

.wine-info-img {
  position: absolute; /* Reposition logo from the natural layout */
  left: 50%;
  top: 30%;
  width: fit-content;
  height: fit-content;
}

.wine-info-img > img{
  width: fit-content !important;
  height: fit-content !important;
  max-width: 500px !important;
  max-height: 700px !important;
}

.edit-button{
  position: absolute;
  left: 77%;
  width: fit-content;
  text-align: center;
}
.update-form{
position: absolute;
text-align: center;
left: -20%;
}

.login{
  margin-top:10vh ;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  margin-top: 9.5vh;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}


.react-slideshow-container{

}